################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ESC_Test

.vs/
*.ncb
*.suo
*.ilk
*.pdb
*.user
*.obj

/.vs
